.content {
  display: flex;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
}

mat-card {
  background: #f2f2f3;
  width: 25%;
  height: auto;
  .task {
    width: 90%;
    background: white;
  }
}

mat-card-actions {
  cursor: pointer;
  display: flex;
  mat-icon {
    color: gray;
  }
  p {
    margin-top: 2px;
    color: gray;
  }
}

h2 {
  color: dimgrey;
  font-weight: 700;
}

mat-card-content {
  mat-card {
    margin-top: 10px;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.task {
  width: 90%;
  background: white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
